.area{
    display: flex;
    height: 50vh;
    background-color: #D3D3D3; 
    border-radius: 5px;
    padding: 10px 15px;    
    font-family: fira mono;
}

.pointer{
    background-color: black;
    color: white;
    height: max-content;
    min-width: 5px;
}

.holder{
    min-width: 5px;
}